<a href="https://colab.research.google.com/github/girishkarhana/python/blob/main/Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [240]:
list_of_numbers=[1,2,4,6,11,14,17,20]

In [241]:
squared_numbers=[1,2,4,6,11,14,17,20]
print(squared_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [242]:
print(f"The list of squared numbers is {squared_numbers}")

The list of squared numbers is [1, 2, 4, 6, 11, 14, 17, 20]

In [243]:
list_of_numbers=[1,2,4,6,11,14,17,20]
squared_numbers=[number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [244]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [245]:
even_squared_numbers=[number**2 for number in list_of_numbers if number%2==0]
print(even_squared_numbers)

[4, 16, 36, 196, 400]

In [246]:
odd_squared_numbers=[number**2 for number in list_of_numbers if number%2!=0]
print(odd_squared_numbers)

[1, 121, 289]

In [247]:
odd_squared_numbers = [number**2 if number%2!=0 else number**3 for number in list_of_numbers]
print(odd_squared_numbers)

[1, 8, 64, 216, 121, 2744, 289, 8000]

In [248]:
even_squared_numbers=[number**2 for number in list_of_numbers if number%2==0]

In [249]:
list(range(4))

[0, 1, 2, 3]

In [250]:

list_of_numbers=[]
for num1 in range(4):
  for num2 in range(3):
    print(num1,num2)
    list_of_numbers.append(num2)
    print(list_of_numbers)

0 0
[0]
0 1
[0, 1]
0 2
[0, 1, 2]
1 0
[0, 1, 2, 0]
1 1
[0, 1, 2, 0, 1]
1 2
[0, 1, 2, 0, 1, 2]
2 0
[0, 1, 2, 0, 1, 2, 0]
2 1
[0, 1, 2, 0, 1, 2, 0, 1]
2 2
[0, 1, 2, 0, 1, 2, 0, 1, 2]
3 0
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0]
3 1
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]
3 2
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [251]:
list_of_numbers= [num2 for num1 in range(4) for num2 in range(3)]
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [252]:
list_of_numbers=[num2**2 for num2 in range(3) for num1 in range(4)]
print(list_of_numbers)

[0, 0, 0, 0, 1, 1, 1, 1, 4, 4, 4, 4]

In [253]:
sample=[[]]
len(sample)
sample[0]

[]

In [254]:
list_of_lists=[1]
list_of_lists.append([])

In [256]:
list_of_lists=[[num1 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [257]:
heisenberg_quote= "It ceases to exist without me. No,you clearly don't know who you're talkingto, so let me clue you in. I am not in danger,Skyler. I am the danger"
words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,you', 'clearly', "don't", 'know', 'who', "you're", 'talkingto,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,Skyler.', 'I', 'am', 'the', 'danger']

In [258]:
heisenberg_quote.split('t')

['I',
 ' ceases ',
 'o exis',
 ' wi',
 'hou',
 " me. No,you clearly don'",
 " know who you're ",
 'alking',
 'o, so le',
 ' me clue you in. I am no',
 ' in danger,Skyler. I am ',
 'he danger']

In [259]:
first_letters = []
for word in words_by_walter:
  first_letters.append(word[0])

In [260]:
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'c', 'd', 'k', 'w', 'y', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'I', 'a', 't', 'd']

In [261]:
first_letters=[word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'c', 'd', 'k', 'w', 'y', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'I', 'a', 't', 'd']

In [262]:
heisenberg_quote.split(',')

['It ceases to exist without me. No',
 "you clearly don't know who you're talkingto",
 ' so let me clue you in. I am not in danger',
 'Skyler. I am the danger']

In [263]:
my_string='Alphsbet Inc.'
list_of_characters= [char for char in my_string]
print(list_of_characters)

['A', 'l', 'p', 'h', 's', 'b', 'e', 't', ' ', 'I', 'n', 'c', '.']

In [264]:
days = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [265]:
days_without_day = tuple([day[:-3] for day in days])
print(days_without_day)

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

In [266]:
first_letters = set()
for word in words_by_walter:
  first_letters.add(word[0])
  print(first_letters)

{'I'}
{'I', 'c'}
{'I', 'c', 't'}
{'I', 'c', 'e', 't'}
{'w', 'e', 't', 'I', 'c'}
{'w', 'e', 'm', 't', 'I', 'c'}
{'w', 'e', 'm', 'N', 't', 'I', 'c'}
{'w', 'e', 'm', 'N', 't', 'I', 'c'}
{'w', 'e', 'm', 'N', 't', 'd', 'I', 'c'}
{'w', 'e', 'm', 'N', 't', 'k', 'd', 'I', 'c'}
{'w', 'e', 'm', 'N', 't', 'k', 'd', 'I', 'c'}
{'w', 'e', 'm', 'N', 't', 'k', 'd', 'I', 'c', 'y'}
{'w', 'e', 'm', 'N', 't', 'k', 'd', 'I', 'c', 'y'}
{'w', 'e', 'm', 'N', 't', 'k', 's', 'd', 'I', 'c', 'y'}
{'w', 'e', 'm', 'N', 't', 'k', 's', 'd', 'I', 'c', 'y', 'l'}
{'w', 'e', 'm', 'N', 't', 'k', 's', 'd', 'I', 'c', 'y', 'l'}
{'w', 'e', 'm', 'N', 't', 'k', 's', 'd', 'I', 'c', 'y', 'l'}
{'w', 'e', 'm', 'N', 't', 'k', 's', 'd', 'I', 'c', 'y', 'l'}
{'w', 'e', 'm', 'N', 't', 'k', 's', 'd', 'I', 'c', 'i', 'y', 'l'}
{'w', 'e', 'm', 'N', 't', 'k', 's', 'd', 'I', 'c', 'i', 'y', 'l'}
{'w', 'e', 'm', 'N', 'a', 't', 'k', 's', 'd', 'I', 'c', 'i', 'y', 'l'}
{'w', 'e', 'n', 'm', 'N', 'a', 't', 'k', 's', 'd', 'I', 'c', 'i', 'y', 'l'}
{'w', 'e', 'n', 'm', 'N', 'a', 't', 'k', 's', 'd', 'I', 'c', 'i', 'y', 'l'}
{'w', 'e', 'n', 'm', 'N', 'a', 't', 'k', 's', 'd', 'I', 'c', 'i', 'y', 'l'}
{'w', 'e', 'n', 'm', 'N', 'a', 't', 'k', 's', 'd', 'I', 'c', 'i', 'y', 'l'}
{'w', 'e', 'n', 'm', 'N', 'a', 't', 'k', 's', 'd', 'I', 'c', 'i', 'y', 'l'}
{'w', 'e', 'n', 'm', 'N', 'a', 't', 'k', 's', 'd', 'I', 'c', 'i', 'y', 'l'}
{'w', 'e', 'n', 'm', 'N', 'a', 't', 'k', 's', 'd', 'I', 'c', 'i', 'y', 'l'}

In [267]:
first_letters = {word[0] for word in words_by_walter}
print(first_letters)

{'w', 'e', 'n', 'm', 'N', 'a', 't', 'k', 's', 'd', 'I', 'c', 'i', 'y', 'l'}

In [268]:
country_city_list = [('India','New Delhi'), ('Australia','Canberra'), ('United States' ,'Washington DC'),('England','London')]

In [269]:
country_city_dict = dict(country_city_list)
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

In [270]:
flipped = {}
for country, city in country_city_dict.items():
  flipped[city] = country

print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [271]:
flipped={city:country for country, city in country_city_dict.items()}
print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [272]:
flipped={city:country for country, city in country_city_dict.items() if country[0] in ['E','A']}
print(flipped)

{'Canberra': 'Australia', 'London': 'England'}

In [ ]:
flipped={country[:2] : city[-2:] for country, city in country_city_dict.items()}
print(flipped)

In [ ]:

print(country_city_dict)