<a href="https://colab.research.google.com/github/girishkarhana/python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [275]:
heisenberg_quote = "I am the danger"

In [276]:
heisenberg_quote = "I am the danger"
words_by_quote = heisenberg_quote.split(' ')
first_letters = [word[0] for word in words_by_quote]
print(first_letters)

['I', 'a', 't', 'd']

In [277]:

def extract_first_letters(sentence):
  words_in_sentence = sentence.split(' ')
  first_letters = [word[0] for word in words_in_sentence]
  return first_letters
  print(extract_first_letters(heisenberg_quote))

In [278]:
first_letters_heisenberg = extract_first_letters(heisenberg_quote)
print(first_letters_heisenberg)

['I', 'a', 't', 'd']

In [279]:
from re import I
#Function for calculating factorial of a number
def factorial(num):
  result = 1
  if num < 0:
    print("factorial is not defined for negative numbers")
  elif (num> 0):
    for i in range(1, num+1):
            result = result * i
    print(f"the factorial of {num} is {result}")
  else:
              result = 1
              print('factorial of 0 is ',result)

factorial(5)

the factorial of 5 is 120

In [280]:
list_of_numbers = [1,2,3,4,5,6,7]

In [281]:
list_of_numbers = [1,2,3,4,5,6,7]
factorial_list = [factorial(number) for number in list_of_numbers if number%2!=0]
print(factorial_list)

the factorial of 1 is 1
the factorial of 3 is 6
the factorial of 5 is 120
the factorial of 7 is 5040
[None, None, None, None]

In [282]:
def assignQuarter(user_date):
  date_year = user_date[:4]
  date_month = user_date[5:7]

  if (date_month >= '01') & (date_month <= '03'):
    quarter = date_year + '-Q1'
  elif (date_month >= '04') & (date_month <='06'):
      quarter = date_year + '-Q2'
  elif (date_month >= '07') & (date_month <= '09'):
    quarter = date_year + '-Q3'
  else:
    quarter = date_year + '-Q4'
  return quarter

In [283]:
sample_date = '2022-04-01'
date_quarter = assignQuarter(sample_date)
print(date_quarter)

2022-Q2

In [284]:
my_quarter = assignQuarter('2022-07-01')
print(my_quarter)

2022-Q3

In [285]:
def check_even_or_odd(num):
  print(f"given number is {num}")

  if num%2 ==0:
    return 'even'
  return 'odd'

is_even_odd = check_even_or_odd(10)
print(is_even_odd)

given number is 10
even

In [286]:
def list_append(my_list, elem):
  new_list = my_list + [elem]
  return new_list

In [287]:
def list_append(my_list, elem):
  new_list = my_list + [elem]
  return new_list

In [288]:
heights = [150,160,170,180,190,200]
list_append(heights, 210)

[150, 160, 170, 180, 190, 200, 210]

In [289]:
list_append(heights, 220)

[150, 160, 170, 180, 190, 200, 220]

In [290]:
list_append(heights, elem = 50)

[150, 160, 170, 180, 190, 200, 50]

In [291]:
heights.append(100)
heights

[150, 160, 170, 180, 190, 200, 100]

In [292]:
def experiment():
  global x
  x = 50
  return x

In [293]:
experiment()

50

In [294]:
x

50

In [295]:
def new_experiment():
  x = 50
  return x
x = 40

In [296]:
new_experiment()

50

In [297]:
x

40