<a href="https://colab.research.google.com/github/girishkarhana/python/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [205]:
subjects = ['chmeistry','physics','biology','maths','cs']

In [206]:
for subjects in subjects:
  print(f"I love {subjects}")

I love chmeistry
I love physics
I love biology
I love maths
I love cs

In [207]:
subjects = ['chmeistry','physics','biology','maths','cs']

In [208]:
for number,subjects in enumerate(subjects):
  print(f"the subject number of subject {subjects} is {number}")

the subject number of subject chmeistry is 0
the subject number of subject physics is 1
the subject number of subject biology is 2
the subject number of subject maths is 3
the subject number of subject cs is 4

In [209]:
subjects = ['chmeistry','physics','biology','maths','cs']
list(enumerate(subjects))

[(0, 'chmeistry'), (1, 'physics'), (2, 'biology'), (3, 'maths'), (4, 'cs')]

In [210]:
list_of_numbers = [1,2,3,4,5,6]

In [211]:
for number in list_of_numbers:
  print(f"the square of {number} is {number**2}")

the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25
the square of 6 is 36

In [212]:
squared_numbers = []
for number in list_of_numbers:
  square = number**2

  squared_numbers.append(square)
  print(f"the list of squared numbers is {squared_numbers}")

the list of squared numbers is [1]
the list of squared numbers is [1, 4]
the list of squared numbers is [1, 4, 9]
the list of squared numbers is [1, 4, 9, 16]
the list of squared numbers is [1, 4, 9, 16, 25]
the list of squared numbers is [1, 4, 9, 16, 25, 36]

In [213]:
print(list_of_numbers)
print(squared_numbers)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

In [214]:
zipped_dict = dict(zip(list_of_numbers,squared_numbers))
print(zipped_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [215]:
print(list_of_numbers)

[1, 2, 3, 4, 5, 6]

In [216]:
for number in list_of_numbers:
  print(f"the square of {number} is {number**2}")
else:
    print(f"I am an odd number{number}.")

the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25
the square of 6 is 36
I am an odd number6.

In [217]:
print("\n")
print("I am finished with my iteration")

I am finished with my iteration

In [218]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [219]:
for number in range(0,10,3):
  squared_number = number**2
  print(f"the square of {number} is {number**2}")

the square of 0 is 0
the square of 3 is 9
the square of 6 is 36
the square of 9 is 81

In [220]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [221]:
print(list_of_numbers)

[1, 2, 3, 4, 5, 6]

In [222]:
sum_squares = 0

for number in range(1,11):
  sum_squares = sum_squares + number
  print(sum_squares)

1
3
6
10
15
21
28
36
45
55

In [223]:
print(sum_squares)

55

In [224]:
jon_snow_quote = "I'm the Aemon Targaryen"

In [225]:
for char in jon_snow_quote:
  print(f"the character is {char}")

the character is I
the character is '
the character is m
the character is
the character is t
the character is h
the character is e
the character is
the character is A
the character is e
the character is m
the character is o
the character is n
the character is
the character is T
the character is a
the character is r
the character is g
the character is a
the character is r
the character is y
the character is e
the character is n

In [226]:
for index,char in enumerate(jon_snow_quote):
  print(f"the index is {index} and the character is {char}")

the index is 0 and the character is I
the index is 1 and the character is '
the index is 2 and the character is m
the index is 3 and the character is
the index is 4 and the character is t
the index is 5 and the character is h
the index is 6 and the character is e
the index is 7 and the character is
the index is 8 and the character is A
the index is 9 and the character is e
the index is 10 and the character is m
the index is 11 and the character is o
the index is 12 and the character is n
the index is 13 and the character is
the index is 14 and the character is T
the index is 15 and the character is a
the index is 16 and the character is r
the index is 17 and the character is g
the index is 18 and the character is a
the index is 19 and the character is r
the index is 20 and the character is y
the index is 21 and the character is e
the index is 22 and the character is n

In [227]:
heisenberg_quote = "I am the one who knocks!"
words_in_quote = heisenberg_quote.split(' ')
print(words_in_quote)

['I', 'am', 'the', 'one', 'who', 'knocks!']

In [228]:
for word in words_in_quote:
  if word in ['I','me.']:
    print(f"the word is {word}")

the word is I

In [229]:
days = ('monday','tuesday','wednesday','thursday','friday','saturday','sunday')
for day in days:
  print(f"today is {day}")

today is monday
today is tuesday
today is wednesday
today is thursday
today is friday
today is saturday
today is sunday

In [230]:
country_city_river_list = [('india','new delhi','ganga'),('pakistan','islamabad','indus'),('afghanistan','kabul','afghan')]

In [231]:
country_city_river_list = [('india','new delhi','ganga'),('pakistan','islamabad','indus'),('afghanistan','kabul','afghan')]
for country,city,river in country_city_river_list:
  print(f"the capital of the country is {country} is {city} and it also has the river {river}.")

the capital of the country is india is new delhi and it also has the river ganga.
the capital of the country is pakistan is islamabad and it also has the river indus.
the capital of the country is afghanistan is kabul and it also has the river afghan.

In [232]:
country_city_dict = {1:"india",2:"usa"}
for item in country_city_dict:
  print(item,country_city_dict[item])

1 india
2 usa

In [233]:
country_city_dict.items()

dict_items([(1, 'india'), (2, 'usa')])

In [234]:
for country,city in country_city_dict.items():
  print(f"the capital of the country is {country} is {city}.")

the capital of the country is 1 is india.
the capital of the country is 2 is usa.

In [235]:
for elem in {1,2,3}:
  print(elem)

1
2
3

In [236]:
x = 0
while x < 10:
  print('x is currently: ',x)
  print('x is still less than 10, adding 1 to x')
  x = x + 1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x

In [237]:
x = 0
while x < 5:
  print('x is currently: ',x)
  print(' x is stil less than 10, adding 1 to x')
  x +=1

x is currently:  0
 x is stil less than 10, adding 1 to x
x is currently:  1
 x is stil less than 10, adding 1 to x
x is currently:  2
 x is stil less than 10, adding 1 to x
x is currently:  3
 x is stil less than 10, adding 1 to x
x is currently:  4
 x is stil less than 10, adding 1 to x

In [238]:
print("all done")
print("i am done with the iteration")

all done
i am done with the iteration

In [239]:
x = 0
while x < 10:
  print('x is currently: ',x)
  print(' x is still less than 10, adding 1 to x')
  x +=1
  if x == 3:
    print('x == 3')
  else:
    print('continuing...')
    continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x == 3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...